.menu {
    -fx-background-color: rgba(255,255,255,0.6);
    -fx-padding: 4;
    -fx-spacing: 10;
}

.title {
    -fx-font-size: 24;
    -fx-font-weight: bold;
}

.subtitle {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.headline {
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.boxTitle {
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-spacing: 10;
}

.padding {
    -fx-padding: 5;
    -fx-spacing: 30;
}

.background:hover {
    -fx-background-color: rgba(245, 245, 245, 0.6);
    -fx-min-width: 167;
    -fx-min-height: 40;
}

.menuBackground {
    -fx-background-color: rgba(255,255,255,0.6);
}





